@tailwind base;
@tailwind components;
@tailwind utilities;

body > footer {
    position: sticky;
    top: 100vh;
  }

.footer > * {
    display: grid;
    place-items: center;
    gap: 0.1rem;
}

.h-screen {
    height: 20vh;
}

.custom-card-image .card.image-full:before {
    border-radius: 0.5rem;
    opacity: 0.45
}